*fastq.gz
*.fastq
*.tsv
!test_fetch.tsv   
*.tsv.gz
*.csv
*.json
*.html
*.yaml
*.yaml.gz
.DS_Store
*.sh
*.pyc
*.zip
*.fq
*.txt
*.log
*.csv.gz
dummy_rna_R1
igvf_mar30_2026_one_lane_report/IGVFDS2099RYCK/logs/samplesheet_only.stderr.log
